<table>
  <caption>Edited</caption>
  <tr>
    <th>Security</th>
    <th>Field</th>
    <th>Old</th>
    <th>New</th>
  </tr>
  {% foreach edited as diff %}
  <tr>
    <td>dif.path[0]</td>
    <td>dif.path[1]</td>
    <td>dif.lhs</td>
    <td>dif.rhs</td>
  </tr>
  {% endforeach %}
</table>
