<table>
  <caption>Deleted</caption>
  {% for key,dif in deleted %}
    {% if key==0 %}
      <tr>
        {% for field in dif|keys %}
        <th>{{field}}</th>
        {% endfor %}
      </tr>
    {% endif %}
    <tr>
      {% for field in dif %}
      <td>{{field}}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
