<table border="1">
  <caption>Edited</caption>
  <tr>
    <th>ID</th>
    <th>Field</th>
    <th>Old</th>
    <th>New</th>
  </tr>
  {% for dif in edited %}
  <tr>
    <td>{{dif.path[0]}}</td>
    <td>{{dif.path[1]}}</td>
    <td>{{dif.lhs}}</td>
    <td>{{dif.rhs}}</td>
  </tr>
  {% endfor %}
</table>
