<table>
  <caption>New</caption>
  <tr>
    <th>Security</th>
    <th>Name</th>
    <th>Provider code</th>
  </tr>
  {% for dif in new %}
  <tr>
    {% for field in dif %}
    <td>{{field}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
